{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">


    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/smart_wizard.css' %}">
    <link rel="stylesheet" href="{% static 'css/smart_wizard_vertical.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LDAP Manager</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block show_active %}{% endblock %}"><a href="#">Show Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="{% block create_active %}{% endblock %}"><a href="#">Create Profile</a></li>
                </ul>

                <div id="loggedout">
                    <form class="navbar-form navbar-right" role="search" id="auth_form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" id="username" required>
                            <input type="password" class="form-control" placeholder="Password" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-default">Authenticate</button>
                    </form>

                </div>
                <div id="loggedin">
                    <div class="pull-right" style="padding-top: 15px;">
                        <span class="label label-info">Logged in</span>
                    </div>

                </div>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="page-wrapper" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block page_header %}{% endblock %}</h1>
                {% block main_content %}{% endblock %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="{% static 'js/metisMenu.min.js' %}"></script>

<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/morris.min.js' %}"></script>


<script src="{% static 'js/sb-admin-2.js' %}"></script>
<script src="{% static 'js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>

<script type="text/javascript">
    String.prototype.format = function (o) {
        return this.replace(/{([^{}]*)}/g,
            function (a, b) {
                var r = o[b];
                return typeof r === 'string' || typeof r === 'number' ? r : a;
            }
        );
    };
    $(document).ready(function(){
        $("#loggedin").hide();
        $("#loggedout").show();

    });
    $("#auth_form").submit(function(event){
        event.preventDefault();

        $.ajax({
          method: "POST",
          url: "{% url 'login' %}",
          data: {
                  username: $("#username").val(),
                  password: $("#password").val()
                },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') )

            }
        })
      .done(function(response) {
        if (response.success){
            $("#loggedout").hide();
            $("#loggedin").show();
        } else {
            alert(response.message);
        }
      });
    });


{% block extended_js %}{% endblock %}

</script>

</body>

</html>

